@import "tailwindcss";

@font-face {
  font-family: "outfit";
  src: url("../fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: "inter";
  src: url("../fonts/Inter_18pt-Medium.ttf");
}

@font-face {
  font-family: "jsans";
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "jsl";
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility flex-end {
  @apply flex justify-end items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility hero-section-overlay {
  @apply absolute bottom-0 left-0 right-0 lg:top-[25%] max-sm:top-[90%] z-0 px-6 md:px-15 lg:px-20 lg:object-cover lg:object-[70%_100%] font-bold font-inter text-white;
}

@utility comps-img-section {
  @apply pt-30 pb-50 bg-black grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 sm:px-30 md:px-20 lg:px-20 gap-y-6;
}

@utility comp-section-box {
  @apply absolute top-0 bottom-0 left-0 right-0 bg-black/80 hover:bg-transparent active:bg-transparent cursor-pointer;
}

@utility header-nav-dark-active {
  @apply text-white inline-block border-b-white border-b-2 cursor-pointer;
}

@utility header-nav-dark {
  @apply text-white cursor-pointer hover:inline-block hover:border-b-white hover:border-b-2;
}


@utility header-nav-light-active {
  @apply inline-block border-b-2 cursor-pointer;
}

@utility header-nav-light {
  @apply cursor-pointer hover:inline-block hover:border-b hover:border-b-2
}

@utility footer-nav-active {
  @apply font-outfit text-white inline-block border-b-white border-b-2 cursor-pointer;
}

@utility footer-nav {
  @apply font-outfit text-gray-400 cursor-pointer;
}

@utility contact-input {
  @apply py-3 md:py-4 pl-10 text-sm placeholder:font-jsl placeholder:text-gray-600 border-b-1 border-gray-300 font-jsl focus:outline-none w-full;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 11s linear infinite;
}

.marquee-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  animation: scroll 12s linear infinite;
}

.marquee-content2-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  animation: scrollReverse 12s linear infinite;
}

.animate-blink {
  animation: blink 1s infinite;
}

.animate-blink-slow {
  animation: blink 4s infinite;
}

.animate-jump {
  animation: jump 1s infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@theme {
  --color-dark: #0f0f0f;
  --font-outfit: "outfit";
  --font-inter: "inter";
  --font-jsans: "jsans";
  --font-jsl: "jsl";
}


